.card {
    width: 60%;
    margin-left: 20%;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.subtitle-space {
    margin-right: 10%;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.buttons {
    margin-left: 40%;
}

.button {
    margin-right: 5px;
}

.main {
    margin-left: 10%;
}

.mat-spinner {
    margin-left: 45%;
    margin-top: 5%;
}