.card {
    width: 60%;
    margin-left: 20%;
}

.title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    text-align: center;
    color:  #1d1545;
}

.input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: 900;
}

.text-alert {
    color: red;
}

.buttons {
    margin-left: 35%;
    margin-top: 5%;
}

.button {
    margin-left: 5%;
}

.main{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

.left {
    float: left;
    width: 100%;
    margin-left: 8%;
}

.right {
    margin-left: 65%;
    width: 100%;
}

.material-icons {
    height: 25px;
    width: 25px;
}