.title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    color:  #1d1545;
    margin-left: 35%;
}

.subtitle {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 40px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.table {
    margin-left: 35%;
    border-spacing: 10px 20px;
    text-align: left;
    border: 4px solid #80cfa9; 
}

.result {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
}

.select {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    margin-left: 40%;
}
