<h1 class="title">Registro Ficha Médica</h1>
<br>
<a href="/child/registerChild"><button mat-fab class="button">
    <i class="material-icons">add_circle_outline</i>
</button></a>
<br>
<table mat table class="table">
    <ng-container>
        <th class="subtitle" scope="col">Apellido Paterno </th>
        <th class="subtitle" scope="col">Apellido Materno </th>
        <th class="subtitle" scope="col">Nombre </th>
        <th class="subtitle" scope=col>Fecha de Entrevista </th>
    </ng-container>
    <ng-container>
        <tr *ngFor="let child of progressList" class="table-Table">
            <td class="text">{{child.lastName}}</td>
            <td class="text">{{child.mothersLastName}}</td>
            <td class="text">{{child.firstName}}</td>
            <td class="text">{{child.date}}</td>
        </tr>
    </ng-container>
</table>
<br><br>
<div class="buttons">
    <a href="child/showMedicalRecord"><button mat-stroked-button class="buttonShow" color="primary">Ficha Médica</button></a>
    <a href="child/showRegisterChild"><button mat-stroked-button class="buttonShow" color="primary">Ficha de Registro</button></a>
</div>