<h1 class="title">Registro Mensualidades</h1>
<br>
<button mat-fab class="button" (click)="createMensuality()">
    <i class="material-icons">add_circle_outline</i>
  </button>
  <br>
<select class="select" [(ngModel)]="selectedResource" (change)="loadValues()">
    <option value="">Seleccione opción</option>
    <option *ngFor="let resource of resourcesList" value={{resource.type}}> {{resource.type}} </option>
</select>

<select *ngIf="selectedResource!=''" (change)="filter()" class="select" [(ngModel)]="selectedValue">
    <option value="">Seleccione opción</option>
    <option *ngFor="let value of valuesList" value={{value.name}}> {{value.name}} </option>
  </select>
<br><br>
<table mat table class="table">
    <ng-container>
        <th class="subtitle" scope="col">Fecha </th>
        <th class="subtitle" scope="col">Apellido Paterno </th>
        <th class="subtitle" scope="col">Apellido Materno </th>
        <th class="subtitle" scope="col">Nombres </th>
        <th class="subtitle" scope="col">Mes </th>
        <th class="subtitle" scope="col">Monto </th>
    </ng-container>
    <ng-container>
        <tr *ngFor="let mensuality of mensualitiesList" class="table-Table">
            <td class="text">{{mensuality.date}}</td>
            <td class="text">{{mensuality.lastName}}</td>
            <td class="text">{{mensuality.mothersLastName}}</td>
            <td class="text">{{mensuality.firstName}}</td>
            <td class="text">{{mensuality.monthToPay}}</td>
            <td class="text">{{mensuality.amount}}</td>
            <td class="text"><button class="button" mat-stroked-button (click)="goToMensuality(mensuality)" color="primary">Ver</button></td>
        </tr>
    </ng-container>
    <br>
    <ng-container>
        <tr>
            <td class="result">Total</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="result">{{total}}</td>
        </tr>
    </ng-container>
</table>