.card {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    margin-left: 30%;
    color:  #1d1545;
}

.input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;    
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 500;
}

.text-alert {
    color: red;
}

.main {
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

.left {
    float: left;
    margin-left: 10%;
}

.center {
    float: left;
    margin-left: 45%;
}

.right {          
    float: left;
    margin-left: 80%;
}

.buttons {
    margin-left: 35%;
}

.button {
    margin-left: 5%;
    margin-right: 5%;
}

.subtitle {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 25px;
}

.main-second {
    width: 70%;
    margin-left: 25%;
}

.left-second {
    float: left;
}

.right-second {
    margin-left: 50%;  
}

.textBox {
    width: 40%;
}
