.title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    color:  #1d1545;
    margin-left: 40%;
}

.subtitle {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 30px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.table {
    margin-left: 25%;
    border-spacing: 10px 10px;
    text-align: left;
    border: 4px solid #59c9a5;
    width: 50%;
    margin-bottom: 5%;
}

.result {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.button {
    size: 70px;
    color: #315172;
    background-color: #59c9a5 ;
}

.space {
    margin-left: 70%;
    margin-right: 2%;
    border: 1px solid #315172;
    color: #315172;
}

.date {
    margin-left: 37%;
}

.material-icons.md-30 { font-size: 30px; }

.mat-spinner {
    margin-left: 45%;
    margin-top: 5%;
}

.total {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.expense {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.totalExpense {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    border-collapse: separate;
    border-spacing: 30px;
    text-align: center;
}

.scroll_table {
    overflow: scroll;
    overflow-x: hidden;
    height: 30vh;
}