<h1 class=title > Centro Infantil "San Antonio"</h1>
<br><br>
<mat-card class="card">
    <mat-toolbar class="toolbar">
        <button mat-button (click)="changeContent('historia')" class="subtitle">Historia</button>
        <button mat-button (click)="changeContent('vision')" class="subtitle">Visión</button>
        <button mat-button (click)="changeContent('mision')" class="subtitle">Misión</button>
    </mat-toolbar>
    <div class="description">
        <p>{{content}}</p>
    </div>
</mat-card>