.footer {
    bottom: 0;
    position: fixed;
    margin-top: auto;
    width: 100%;
    height: 80px;
    color: black;
    text-align: center;
    padding: 0.9em;
    background-color: #fefdfd;
    z-index: 18;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}