<h1 class="title">Perfil Niños</h1>
<br>
<mat-card>
    <label class="subtitle">Apellido Paterno: </label>
    <label> {{child.lastName}}</label>
    <br>
    <label class="subtitle">Apellido Materno: </label>
    <label> {{child.mothersLastName}}</label>
    <br>
    <label class="subtitle">Nombres:</label>
    <label> {{child.firstName}}</label>
    <br><br><br>
    <label class="subtitle">Fecha de Admisión: </label>
    <label> {{child.admissionDate}}</label>
    <br>
    <label class="subtitle">Fecha de Nacimiento: </label>
    <label class="subtitle-space"> {{child.birthDate}}</label>
    <label class="subtitle">Sexo: </label>
    <label class="subtitle-space">{{child.sex}}</label>
    <label class="subtitle">Peso: </label>
    <label> {{child.weight}}</label>
    <label class="subtitle-space">Kg.</label>
    <label class="subtitle">Talla</label>
    <label>{{child.size}}</label>
    <label class="subtitle-space">m.</label>
    <br><br>
    <label class="title">Dirección</label>
    <br>
    <label class="subtitle">Municipalidad:</label>
    <label class="subtitle-space"> {{child.municipality}}</label>
    <label class="subtitle">Distrito: </label>
    <label class="subtitle-space"> {{child.district}}</label>
    <label class="subtitle">Zona: </label>
    <label class="subtitle-space"> {{child.zone}}</label>
    <label class="subtitle">Calle: </label>
    <label class="subtitle-space"> {{child.street}}</label>
    <br><br>
    <label class="title">Datos del Padre o Tutor</label>
    <br><br>
    <label class="subtitle">Nombre: </label>
    <label class="subtitle-space"> {{child.nameOfTutor}}</label>
    <label class="subtitle">Teléfono: </label>
    <label class="subtitle-space"> {{child.phone}}</label>
    <label class="subtitle">Grado de instrucción: </label>
    <label class="subtitle-space"> {{child.degreeOfInstruction}}</label>
    <br>
    <label class="subtitle">Actividad: </label>
    <label class="subtitle-space"> {{child.activity}}</label>
    <label class="subtitle">Otra referencia: </label>
    <label class="subtitle-space"> {{child.anotherReference}}</label>
    <br><br>
    <div class="buttons">
        <button class="button" mat-stroked-button (click)="editRegister(child)" color="primary">Editar</button>
        <button  mat-stroked-button (click)="goToProfiles()" color="warn">Cancelar</button>
    </div>
</mat-card>