<h1 class="title">Perfil </h1>
<br>
<mat-card>
    <label class="subtitle">Apellido Paterno: </label>
    <label> {{profile.lastName}}</label>
    <br>
    <label class="subtitle">Apellido Materno: </label>
    <label> {{profile.morthersLastName}}</label>
    <br>
    <label class="subtitle"> Nombres:</label>
    <label> {{profile.firstName}}</label>
    <br>
    <label class="subtitle">Fecha de Nacimiento: </label>
    <label> {{profile.birthDate}}</label>
    <br>
    <label class="subtitle"> Sexo:</label>
    <label> {{profile.sex}}</label>
    <br>
    <label class="subtitle"> Fecha de Admisión:</label>
    <label> {{profile.admissionDate}}</label>
    <br>
    <label class="subtitle">Estado: </label>
    <label> {{(getStatus(profile))}}</label>
    <br><br>
    <div class="buttons">
        <button mat-stroked-button *ngIf="!profile.isDisable" color="primary" (click)="status(profile, true)">Inhabilitar</button>
        <button mat-stroked-button *ngIf="profile.isDisable" color="primary" (click)="status(profile, false)">Habilitar</button>
        <button  mat-stroked-button (click)="goToProfiles()" color="warn">Cancelar</button>
    </div>
</mat-card>