.space {
    margin-right: 30%;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 30px;
    color: white;
}


.title {
    font-family: "Arial", Gadget, sans-serif;
    font-size: 20px;
    color: white;
}

.subtitle {
    font-family: "Arial", Gadget, sans-serif;
    font-size: 20px;
    color: black;
}

.toolbar { 
    background-color: #375A7F;
    color: white;
    width: 100%;
}

.toolbar :hover{
    background-color: #2f4d6d;
}

.button {
    background-color:  #375A7F;
    margin-left: 62%;
}

.button-logout {
    background-color:  #375A7F;
    margin-left: 87%;
}

.button-logout-med {
    background-color:  #375A7F;
    margin-left: 79%;
}

.button-logout-cont {
    background-color:  #375A7F;
    margin-left: 71%;
}

.button-logout-disable {
    background-color:  #375A7F;
    margin-left: 88%;
}