.space {
    margin-right: 30%;
    font-family: "Arial", Gadget, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #315172;
}


.title {
    font-family: "Arial", Gadget, sans-serif;
    font-size: 22px;
    color: #315172;
    font-weight: 600;
}

.subtitle {
    font-family: "Arial", Gadget, sans-serif;
    font-size: 20px;
    color: black;
}

.toolbar { 
    background-color: #ff7847;
    color: #315172;
    width: 100%;
}

.grid_container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.toolbar :hover{
    background-color: #ff7847;
}

.button {
    background-color:  #ff7847;
    margin-left: 58%;
}

.button-logout {
    background-color:  #ff7847;
    margin-left: 87%;
}

.button-logout-med {
    background-color:  #ff7847;
    margin-left: 78%;
}

.button-logout-cont {
    background-color:  #ff7847;
    margin-left: 67%;
}

.button-logout-disable {
    background-color:  #ff7847;
    margin-left: 84%;
}

.material-icons {
    color: #315172;
    font-size: 30px;
}