.space {
    margin-right: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
}


.title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
}

.subtitle {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
}

.toolbar { 
    background-color: #375A7F;
    color: white;
}