.card {
    width: 30%;
    margin-left: 35%;
}

.text-alert {
    color: red;
}

.input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 80%;
    margin-left: 5%;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    justify-content: center;
    margin-left: 60px;
    color: #2b52cb;
}

.button {
    margin-right: 10%;
}

.buttons {
    margin-left: 20%;
}