.card {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 20px;
}

.subtitle1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.subtitle {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: 800;
}

.subtitle-space {
    margin-right: 2%;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}


.buttons {
    margin-left: 40%;
}

.button {
    margin-right: 15px;
    color: #315172;
    border: 1px solid #315172;
}

.button:hover {
    color: white;
    border: 1px solid white;
    background-color: #315172;
}

.cancel_button {
    color: #bd1b0f;
    border: 1px solid #bd1b0f;
}

.cancel_button:hover {
    color: white;
    border: 1px solid white;
    background-color: #bd1b0f;
}

.grid_container {
    display: grid;
    grid-template-columns: 33% 30% 37%;
}

.grid_margin {
    margin-left: 10%;
}

.grid_container_second {
    display: grid;
    grid-template-columns: 50% 50%
}

.size_weight {
    margin-left: 15%;
    width: 70%;
}

.size {
    margin-left: 10%;
}

table {
    width: 50%;
    margin-left: 25%;
    border: 2px solid #ff7847;
}

.mat-spinner {
    margin-left: 45%;
    margin-top: 5%;
}