<mat-card class="card">
    <mat-card-header>
        <mat-card-title class="title">Ficha Médica</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #formNew="ngForm" novalidate>
            <div class="main">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="left">
                            <br><br>
                            <mat-form-field class="text">
                                <input class="input" [(ngModel)]="child.firstName" type="text" name="firstName"
                                    #firstName="ngModel" id="firstName" maxlength="30" required
                                    pattern="^[a-zA-Z ÁÉÍÓÚáéíóúÄËÏÖÜäëïöüÇç]*$" matInput placeholder="Nombres">
                            </mat-form-field>
                            <div *ngIf="(firstName.touched || firstName.dirty) && !firstName.valid && firstName.errors"
                                class="text-alert">
                                <div *ngIf="firstName.errors.required">Se requiere nombre</div>
                                <div *ngIf="firstName.errors.pattern">Este campo solo acepta letras</div>
                            </div>
                            <br>
                            <mat-form-field class="text">
                                <input class="input" [(ngModel)]="child.lastName" type="text" name="lastName"
                                    #lastName="ngModel" id="lastName" maxlength="30" required
                                    pattern="^[a-zA-Z ÁÉÍÓÚáéíóúÄËÏÖÜäëïöüÇç]*$" matInput
                                    placeholder="Apellido Paterno">
                            </mat-form-field>
                            <div *ngIf="(lastName.touched || lastName.dirty) && !lastName.valid && lastName.errors"
                                class="text-alert">
                                <div *ngIf="lastName.errors.required">Se requiere Apellido Paterno</div>
                                <div *ngIf="lastName.errors.pattern">Este campo solo acepta letras</div>
                            </div>
                            <mat-form-field class="text">
                                <input class="input" [(ngModel)]="child.mothersLastName" type="text"
                                    name="mothersLastName" #mothersLastName="ngModel" id="mothersLastName"
                                    maxlength="30" required pattern="^[a-zA-Z ÁÉÍÓÚáéíóúÄËÏÖÜäëïöüÇç]*$" matInput
                                    placeholder="Apellido Materno">
                            </mat-form-field>
                            <div *ngIf="(mothersLastName.touched || mothersLastName.dirty) && !mothersLastName.valid && mothersLastName.errors"
                                class="text-alert">
                                <div *ngIf="mothersLastName.errors.required">Se requiere Apellido Materno</div>
                                <div *ngIf="mothersLastName.errors.pattern">Este campo solo acepta letras</div>
                            </div>
                            <mat-form-field class="text">
                                <input class="input" [(ngModel)]="child.age" type="text" name="age" #age="ngModel"
                                    id="age" maxlength="2" required pattern="^[0-9]*$" matInput placeholder="Edad">
                            </mat-form-field>
                            <div *ngIf="(age.touched || age.dirty) && !age.valid && age.errors" class="text-alert">
                                <div *ngIf="age.errors.required">Se requiere Edad</div>
                                <div *ngIf="age.errors.pattern">Este campo solo acepta números</div>
                            </div>
                        </div>
                        <br>
                        <div class="right">
                            <mat-form-field class="text">
                                <mat-label>Sexo</mat-label>
                                <select matNativeControl required [(ngModel)]="child.sex"
                                    [ngModelOptions]="{standalone: true}">
                                    <option value="femenino">Femenino</option>
                                    <option value="masculino">Masculino</option>
                                </select>
                            </mat-form-field>
                            <br>
                            <mat-form-field class="text">
                                <input class="input" [(ngModel)]="child.address" type="text" name="address"
                                    #address="ngModel" id="address" maxlength="30" required
                                    pattern="^[a-zA-Z ÁÉÍÓÚáéíóúÄËÏÖÜäëïöüÇç 0-9]*$" matInput placeholder="Direccion">
                            </mat-form-field>
                            <div *ngIf="(address.touched || address.dirty) && !address.valid && address.errors"
                                class="text-alert">
                                <div *ngIf="address.errors.required">Se requiere Direccion</div>
                                <div *ngIf="address.errors.pattern">Este campo acepta letras y números</div>
                            </div>
                            <br>
                            <mat-form-field class="text">
                                <input class="input" [(ngModel)]="child.date" type="date" name="date" #date="ngModel"
                                    id="date" matInput placeholder="Fecha de Revision">
                            </mat-form-field>
                            <br>
                            <mat-form-field>
                                <textarea type="text" class="input" name="description" id="description"
                                    [(ngModel)]="child.description" #description="ngModel" required
                                    pattern="[a-zA-Z ÁÉÍÓÚáéíóúÄËÏÖÜäëïöüÇç,.0-9]*$" matInput
                                    placeholder="Descripcion"></textarea>
                            </mat-form-field>
                            <div *ngIf="(description.touched || description.dirty) && !description.valid && description.errors"
                                class="errorBar">
                                <div class="errorText" *ngIf="description.errors.required">Se requiere descripcion</div>
                                <div class="errorText" *ngIf="description.errors.pattern">Este campo acepta letras y
                                    números</div>
                            </div>
                        </div>
                        <br><br>
                        <div class="buttons">
                            <button *ngIf="!isEdit" class="button" type="submit" mat-raised-button color="primary"
                                (click)="saveMedicalRecord()">Guardar</button>
                            <button *ngIf="isEdit" class="button" type="submit" mat-raised-button color="primary"
                                (click)="editMedicalRecord(child)">Actualizar</button>
                            <button  (click)="goToProfiles()" class="button" type="button" mat-raised-button
                                    color="warn">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>