
Skip to content
Pull requests
Issues
Marketplace
Explore
@nicoleBG96
Learn Git and GitHub without any code!

Using the Hello World guide, you’ll start a branch, write comments, and open a pull request.

1
0

    0

nicoleBG96/ProyectoSeminario
Code
Issues 0
Pull requests 0
Projects 0
Wiki
Security
Insights
Settings
ProyectoSeminario/src/app/finance/forms/expenses-form/expenses-form.component.css
@nicoleBG96 nicoleBG96 expenses form 3a7c081 25 days ago
We found a potential security vulnerability in one of your dependencies.

Only the owner of this repository can see this message.
39 lines (32 sloc) 518 Bytes
.card {
    width: 40%;
    margin-left: 30%;
}

.title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    text-align: center;
    color:  #1d1545;
}

.input {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.text-alert {
    color: red;
}

.main{
    display: flex;
    margin-right: 10%;
    margin-left: 10%;
}

.buttons {
    margin-left: 5%;
}

.button {
    margin-left: 5%;
}

