.title {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 30px;
    color:  #1d1545;
    text-align: center;
}

.subtitle {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.button {
    size: 70px;
    color:white;
    background-color: blue ;
    margin-left: 90%;
}

.card {
    width: 35%;
    height: 20%;
    margin-right: 10%;
}

.toolbar {
    height: 5%;
    background-color: #00a5a5;
    color: white;
}

.toolbar :hover{
    background-color:#008b8b;
}

.image {
    margin-left: 80%;
}

.search {
    height: 15%;
    margin-left: 45%;
    font-size: 20px;
}

.input {
    width: 10%;
    height: 15;
}

.date {
    margin-left: 65%;
}

.material-icons.md-30 { font-size: 30px; }