<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Iniciar Sesión</mat-card-title>
  </mat-card-header>
  <br><br>
  <mat-card-content>
    <mat-form-field>
      <input class="input" matInput placeholder="Correo electronico o usuario">
    </mat-form-field>
    <br><br>
    <mat-form-field>
      <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
  <button mat-button color="primary">¿Olvidaste tu contraseña?</button>
  <br><br><br>
  <button mat-button color="primary" class="button">Crear Cuenta</button>
  <button mat-raised-button color="primary" class="button">Iniciar Sesión</button>
</mat-card>
